.safety-banner{

    background:#fee2e2;

    border:2px solid #dc2626;

    color:#7f1d1d;

    padding:20px;

    border-radius:12px;

    margin-bottom:20px;

}

.safety-banner h3{

    margin-bottom:10px;

}

.safety-banner p{

    margin-bottom:10px;

}